@using Entity
@model Urun

<h2>Yeni Ürün</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}

<form method="post">
    <div class="form-group">
        <label for="UrunAdi">Ürün Adı: </label>
        <input name="UrunAdi" required class="form-control" id="UrunAdi"/>
    </div>
    <div class="form-group">
        <label>SN: </label>
        <input name="SN" class="form-control" />
    </div>
    <div class="form-group">
        <label>Model Kodu: </label>
        <input name="ModelKodu" class="form-control" />
    </div>
    <div class="form-group">
        <label>Marka: </label>
        <select name="MarkaId" required>
            <option value="">Seçiniz</option>
            @foreach (Marka item in ViewBag.Markalar)
            {
                <option value="@item.Id">@item.MarkaAdi</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Ürün Grupları: </label>
        @foreach (UrunGrubu item in ViewBag.UrunGruplar)
        {
            <input id="@Html.Raw("C"+item.Id)" type="checkbox" name="gruplar" value="@item.Id"/> 
            <label for="@Html.Raw("C"+item.Id)">@item.GrupAdi</label>
        }
    </div>
    <button>Kaydet</button>
</form>

